<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="col-xl-5 col-sm-1 me-5">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cate of categoryList">
          <th scope="row">{{cate.id}}</th>
          <td>{{cate.text}}</td>
          <td><a class="btn btn-outline-danger" (click)="deleteCategory(cate.id)"><span><i class="bi bi-trash"></i>
          </span></a></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
