<div class="container">
  <div class="row d-flex float-xl-end mt-5">
    <div class="col-xl-12 col-sm-12">
      <form>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category"
                name="category"
          >
        </div>
        <button type="submit" (click)="addCategory()" class="btn btn-primary mt-2">Save</button>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


