<div class="row d-flex justify-content-center">
  <div class="col-xl-7 col-sm-1">
    <table class="table">
      <thead>
      <tr>
        <th scope="row">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.category}}</td>
        <td><a href="#" class="btn btn-outline-success" [routerLink]="['/update',product.id]"><span><i
          class="bi bi-pen-fill"></i>
          </span></a></td>
        <td><a class="btn btn-outline-danger" (click)="delete(product.id)"><span><i class="bi bi-trash"></i>
          </span></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
