<div class="container ">
  <div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-xl-6">
      <form>
        <div class="form-group">
          <label for="text">Category</label>
          <input type="text" class="form-control mt-2" id="text" [(ngModel)]="category.text" name="text"
                 placeholder="Category">
        </div>
        <button type="submit"
                (click)="createCategory()"
                class="btn btn-primary float-end mt-3" routerLink="/category">Save
        </button>
      </form>
    </div>
  </div>
</div>
